@use 'styles/mixins/responsive';
@use 'styles/constants/colors';

.header {
  $self: #{&};

  //TODO: 조율 필요
  height: 50px;
  padding: 10px 15px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;

  @include responsive.after(1024px) {
    width: 860px;
    height: 56px;

    & {
      padding: 16px 24px;
    }
  }

  :global {
    #{$self}__desktop {
    }

    #{$self}__mobile {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
