.google-button {
  $self: #{&};
  color: #ffffff;
  display: flex;

  // TODO: 반응형 적용

  :global {
    #{$self}__login {
      border-radius: 6px;
      background-color: #fff;
      padding: 5px 8px;
      color: #000000;
      cursor: pointer;
    }
    #{$self}__join {
      width: 100%;
    }
  }
}
