// types

.display {
  font-weight: 700;
}

.display-22-semibold {
  font-size: 22px;
}

.body {
  font-weight: 400;
}

// font-weight

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}
