// types

.display {
  font-weight: 700;
}

.display-22-semibold {
  font-size: 22px;
}

.body {
  font-weight: 400;
}

// font-weight

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

// colors
// TODO 전역 스타일(feature-#8) develop브랜치 병합 후 색상 추가

.black {
  color: #000;
}
