@use 'styles/mixins/responsive';
@use 'styles/constants/colors';

.icon-button {
  border: 1px solid colors.$gray-400;
  border-radius: 100px;
  background-color: colors.$white;
  color: colors.$gray-650;

  &:hover {
    border: 1px solid colors.$gray-500;
  }

  &:active {
    background-color: colors.$gray-200;
  }

  &:disabled {
    border: 1px solid colors.$gray-400;
    background-color: colors.$gray-200;
    color: colors.$gray-500;
  }
}

.small {
  height: 32px;
  width: 32px;
  padding: 8px;
}

.x-small {
  height: 28px;
  width: 28px;
  padding: 6px;
}
