@use 'styles/mixins/responsive';
@use 'styles/constants/colors';

.layout {
  $self: #{&};

  /* MOBILE */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcfbfa;

  @include responsive.after(1024px) {
    /* DESKTOP */
    flex-direction: row;
  }

  :global {
    #{$self}__main-conatiner {
      width: 100%;
      height: 100%;
      @include responsive.after(1024px) {
        width: 860px;
      }
    }
    #{$self}__main {
      overflow: scroll;
      overflow-x: hidden;

      background-color: colors.$white;
      // background-color: yellow; // FIXME 임시

      width: 100%;
      height: 100%; // FIXME 아래로 더 튀어나옴

      @include responsive.after(1024px) {
        width: 860px;
      }
    }

    // #{$self}__aisde {
    //   display: none;

    //   @include responsive.after(1024px) {
    //     & {
    //       display: block;
    //       flex-grow: 1;
    //       //   FIXME:임시
    //       background-color: antiquewhite;
    //     }
    //   }
    // }
  }
}
