.textfield {
  $self: #{&};
  display: flex;
  width: 100%;
  height: 140px;

  padding: 10px 15px;
  gap: 8px;

  textarea {
    border: none;
    resize: none;
  }

  :global {
    #{$self}__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    #{$self}__submit-btn {
      margin-left: auto;
    }

    #{$self}__input {
      overflow: scroll;
      justify-self: center;
      padding: 10px 4px;
      line-height: 15px;
      letter-spacing: -0.0375em;
      scrollbar-width: 1px;
    }

    // TODO: 입력된 숫자 카운트 적용하기로 결정시 사용될 스타일
    #{$self}__etc-container {
      display: flex;
      margin-left: auto;
      align-items: center;
      gap: 10px;
    }
  }
}
